.NavigationItem {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;

  > li {
    height: 100%;

    > a {
      display: flex;
      align-items: center;
      height: 100%;
      color: #acc4c5;
      text-decoration: none;
      padding: 0 20px;

      &:hover {
        background: rgba(188, 188, 188, 0.1);
      }

      &.active {
        background: rgba(188, 188, 188, 0.18);
      }
    }
  }
}